/* Estilos Toastify */
.toastify {
  position: fixed !important; /* Fija el Toastify sobre todo */
  top: 20px; /* Ajusta la distancia desde la parte superior */
  right: 20px; /* Ajusta la distancia desde la derecha */
  z-index: 9999; /* Asegura que esté por encima de todo */
  background-color: #00b09b;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}

.toastify.on {
  z-index: 9999; /* Siempre encima */
}

#containerDetalle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

#cardDetalle {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 900px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

#cardImgDetalle {
  width: 50%;
  border-radius: 10px;
}

#contenedorTextosDetalle {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
}

#headerDetalle h3 {
  font-size: 1.5rem; /* Aumenta el tamaño del nombre */
  font-weight: bold;
  color: #212429;
  margin-top: 8px;
}

#headerDetalle {
  width: 100%;
}

#cardBodyDetalle p {
  text-align: right;
  color: #212429;
}

#cardBodyDetalle strong {
  font-size: 1.2rem; /* Hace la categoría más visible */
  color: #333;
}

#footerTarjetaDetalle .fw-bold {
  font-size: 1.5rem; /* Hace el precio más grande */
  color: #212429;
}

#footerTarjetaDetalle {
  width: 100%;
  padding: 15px;
  border-top: 1px solid #ddd;
}

#buttonDetalle {
  background-color: #212429;
  color: white;
  border: none;
  padding: 15px 32px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

#buttonDetalle:hover {
  background-color: #609191;
}
