#formularioLogin {
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 6%;
    margin-right: 6%;
  }

  #botonLogin {
    background-color: #212429;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 3px;
  }
  
  #botonLogin:hover {
    background-color: #609191;
  }